<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <p>{{ name }}</p>
    <p>All list is {{ view_list }}</p>
    <p>list index 0 is {{ view_list.0 }}</p>
    <p>dict is {{ view_dict }}</p>
    <p>dict key "name" value is {{ view_dict.name }}</p>
    <!--过滤器-->
    <p>{{ name|default:"菜鸟教程666" }}</p>
    <p>{{ link|safe }}</p>
    <h1>{%if num > 90 and num <= 100 %}
        优秀
    {% elif num > 60 and num <= 90 %}
        合格
    {% else %}
        一边玩去～
        {% endif %}</h1>
    {% for i in for_list %}
    循环：{{ i }}
    {% endfor %}
</body>
</html>